* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins";
}

body {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(8, 0, 0, 0.849)), url(5.jpg);
    background-repeat: no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}
nav {
    margin: 20 auto;
    background: rgba(0, 0, 0, 0.7);
    height: 60px;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
}

nav #logo {
    float: left;
    margin-left: 150px;
    padding: 0.1px;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    transition: all 0.3s ease-in;
}

nav #logo img {

    height: 7.5vh;
    border-radius: 55px;
}


nav #menu {
    float: left;
    left: 52%;
    position: absolute;
}

nav #menu li {
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
    line-height: 60px;
    position: relative;
    transition: all 0.5s ease-in;
    animation-name: initial;
    
}

nav #menu li a {
    color: #fff;
    font-family: "Poppins";
    font-weight: 200;
}

nav #menu li a:hover {
    background-color: rgba(219, 214, 214, 0.4);
    padding: 10px 20px;
    border-radius: 70px;
    transition: all 0.3s ease-in-out;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.5s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span {
    height: 3px;
    background: rgb(253, 253, 253);
    transition: all 0.5s ease-out;
    backface-visibility: hidden;
    margin: 5px auto;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
    z-index: 2;
    top: 8px;
    position: absolute;
    background: rgba(0, 0, 0, 1);
    width: 50%;
    margin-left: 50%;
    margin-top: 8vh; 
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    display: table;
}

#resize #menu {
    display: table-cell;
    vertical-align: center;

}

#resize #menu li {
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#resize #menu li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

a:hover{
    text-decoration:  none !important;
}

#resize li:nth-child(1) {
    margin-top: 80px;
}

#resize #menu li a {
    color: #fff;
}

#resize.active {
    visibility: visible;
    opacity: 0.99;
}

.about{
    margin-top: 250px;
}
.about h1{
    text-align: center;
    color: #ddd;
    font-weight: 500;
}
/* .about p{  
    font-family: sans-serif;
    margin-left: 10%;
    margin-top: 10px;
    color: #ddd;
    font-size:20px;
 /* }  */
.acontainer{
    margin: 2em;
    padding: 1em 2em;
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0.37);
    border-left: 5px solid #34495e;
}

blockquote{
    position: relative;
    font-weight: 300;
    font-style: italic;
    line-height: 1.35;
    letter-spacing: .08em;    
}
blockquote ::before{  
    font-size: 36px;
    font-weight: 700;
    color: #0e0d0d;
    position: absolute;
    line-height: 20px;
    left: -.5em;
    content: '“';
}  
.team{
    margin-top: 150px;
}

.team h1{
    
    text-align: center;
    color: #ddd;
}
.team h2{
    text-align: center;
    color: rgba(255, 255, 255, 0.479);
    font-size: 22px;

}
.ourteam{
    text-align: center;
    padding-top: 20px;
    /* margin-top: 1px; */
}

.ourteam .teamimg{
    position: relative;
    overflow: hidden;
    border: 5px solid white;
}

.ourteam .teamimg::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.74);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all 0.3s ease 0s;
}

.ourteam:hover .teamimg::after{
    bottom: 0;
}

.ourteam img{
    width: 100%;
    height: auto;
}

.ourteam .social{
    padding: 0 0 18px 0;
    margin: 0;
    position: absolute;
    top: -100%;
    right: 10px;
    background: #af2f2f;
    border-radius: 0 0 20px 20px;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.ourteam:hover .social{
    top: 0;
}

.ourteam .social li a{
    display: block;
    padding: 15px;
    font-size: 15px;
    color: white;
}

.ourteam .teamcontent{
    padding: 15px 0;
    background: white;
    margin-bottom: 50px;
}

.ourteam .title{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin: 0 0 20px;
    position: relative;
}

.ourteam .title::before{
    content:"";
    width: 25px;
    height: 1px;
    background: rgb(95, 92, 92);
    position: absolute;
    bottom: -10px;
    right: 50%;
    margin-right: 9px;
    transition-duration: 0.25s;
}
.ourteam .title:after{
    content: "";
    width: 25px;
    height: 1px;
    background: rgb(95, 92, 92);
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 9px;
    transition-duration: 0.25s;
}

.ourteam:hover .title::before,
.ourteam:hover .title::after{
    width: 50px;
}

.ourteam .post{
    display: inline-block;
    font-size: 15px;
    color: rgb(182, 112, 127);
    text-transform: uppercase;
}

.ourteam .post::before{
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-top-left-radius: 50%;
    background: #2a4284;
    margin: 0 auto;
    position: relative;
    top: -13px;

}
.foot {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    height: 6vh;
    color: whitesmoke;
    float: right;
    bottom: 0;
    width: 100%;
}

.foot h3 {
    padding-top: 7px;
    float: right;
    font-family: "Poppins";
    margin-right: 20px;
    font-weight: 100;
    font-size: 16px;
}
@media only screen and (max-width: 944px) {
    nav #menu li {
        display: inline-block;
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 768px) {
    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
    }


    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(8, 0, 0, 0.849)), url(5.jpg);
        background-repeat: no-repeat 50% 50%;
        background-size: cover;
        background-attachment: fixed;
        display: table;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    nav{
        position: fixed;
        top: 0;
        width: 100%;
    }
    nav #logo {
        margin-left: 30px;
    }

    #menu a {
        font-family: "Poppins";
        font-weight: 200;
        font-size: 20px;
    }

    nav #menu {
        display: none;
    }
    .ourteam .social{
        padding: 0 0 6px 0;
        margin: 0;
        position: absolute;
        top: -100%;
        right: 10px;
        background: #af2f2f;
        border-radius: 0 0 20px 20px;
        z-index: 1;
        transition: all 0.3s ease 0s;
    }
    .ourteam:hover .social{
        top: 0;
    }
    
    .ourteam .social li a{
        display: block;
        padding: 4px;
        font-size: 10px;
        color: white;
    }
    .ourteam:hover .title::before,
.ourteam:hover .title::after{
    width: 35px;
}
}
@media(min-width: 768px) {
    #resize {
        visibility: hidden !important;
    }
}    

 /* @media(min-width: 300px){  
    .ourteam .social{
        padding: 0 0 6px 0;
        margin: 0;
        position: absolute;
        top: -100%;
        right: 10px;
        background: #af2f2f;
        border-radius: 0 0 20px 20px;
        z-index: 1;
        transition: all 0.3s ease 0s;
    }
    .ourteam:hover .social{
        top: 0;
    }
    
    .ourteam .social li a{
        display: block;
        padding: 2px;
        font-size: 6px;
        color: white;
    }
    
}