*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";
}
#body{
  height: 100vh;
  width: 100%;
}
body{
  background: linear-gradient(rgba(0, 0, 0, 0.795), rgba(8, 0, 0, 0.849)), url(5.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
}
nav {
  width: 100%;
  margin: 20 auto;
  background: rgba(0, 0, 0, 0.7);
  height: 60px;
  top: 0;
  z-index: 1;
  position: fixed;
  
}

nav #logo {
  float: left;
  margin-left: 150px;
  padding: 5px;
  font-size: 30px;
  line-height: 60px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}

nav #logo img {

  height: 7.5vh;
  border-radius: 55px;
}

nav #menu {
  float: left;
  left: 52%;
  position: absolute;
}

nav #menu li {
  display: inline-block;
  padding: 0px 30px;
  cursor: pointer;
  line-height: 60px;
  position: relative;
  transition: all 0.5s ease-in;
  animation-name: initial
}

nav #menu li a {
  color: #fff;
  font-family: "Poppins";
  font-weight: 200;
}

nav #menu li a:hover {
  background-color: rgba(219, 214, 214, 0.4);
  padding: 10px 20px;
  border-radius: 70px;
  transition: all 0.3s ease-in-out;
}

#toggle {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
  transition: all 0.5s ease-out;
  visibility: hidden;
  opacity: 0;
}

#toggle .span {
  height: 3px;
  background: rgb(253, 253, 253);
  transition: all 0.5s ease-out;
  backface-visibility: hidden;
  margin: 5px auto;
}

#toggle.on #one {
  transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
  z-index: 1;
  top: 8px;
  position: absolute;
  background: rgba(0, 0, 0, 1);
  width: 50%;
  margin-left: 50%;
  margin-top: 8vh;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
  display: table;
}

#resize #menu {
  display: table-cell;
  vertical-align: center;

}

#resize #menu li {
  display: block;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 50px;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#resize #menu li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

#resize li:nth-child(1) {
  margin-top: 80px;
}

#resize #menu li a {
  color: #fff;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

.contact{

  padding: 80px 0;
}
.contact h1{
  text-align: center;
  color: #ddd;
  /* font-weight: bold; */
}
.border{
  width: 100px;
  height: 10px;
  background: #35363d;
  margin: 10px auto;
}

.cform{
  max-width: 600px;
  margin: auto;
  padding: 0 8px;
  overflow: hidden;
}

.cform-text{
  display: block;
  width: 100%;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.cform-text:focus{
  box-shadow: 0 0 10px 4px #42474e;
}
textarea.cform-text{
  resize: none;
  height: 120px;
}
.cform-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.cform-btn:hover{
  background: #28272b;
}
.foot {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  height: 6vh;
  color: whitesmoke;
  float: right;
  bottom: 0;
  width: 100%;
}

.foot h3 {
  padding-top: 7px;
  float: right;
  font-family: "Poppins";
  margin-right: 20px;
  font-weight: 100;
  font-size: 16px;
}

@media only screen and (max-width: 944px) {
  nav #menu li {
      display: inline-block;
      padding: 0px 15px;
  }
}
@media only screen and (max-width: 768px) {
  #toggle {
      visibility: visible;
      opacity: 1;
      margin-top: 6px;
  }


  body {
      overflow-x: hidden;
  }

  nav #logo {
      margin-left: 30px;
  }

  #menu a {
      font-family: "Poppins";
      font-weight: 200;
      font-size: 20px;
  }

  nav #menu {
      display: none;
  }

  .content h1 {
      color: rgb(255, 255, 255);
      font-family: "Poppins";
      font-weight: 200;
      font-size: 35px;
      position: absolute;
      left: 40%;
      transform: translate(-30%, -50%);
  }

}
@media(min-width: 768px) {
  #resize {
      visibility: hidden !important;
  }
}