* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins";
    background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(8, 0, 0, 0.849)), url(5.jpg);
    background-repeat: no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    
}


.content h1 {
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    font-size: 38px;
    font-weight: 300;
    position: absolute;
    bottom: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    margin: 20 auto;
    background: rgba(0, 0, 0, 0.4);
    height: 60px;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
}

nav #logo {
    float: left;
    margin-left: 150px;
    padding: 5px;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    transition: all 0.3s ease-in;
}

nav #logo img {

    height: 7.5vh;
    border-radius: 55px;
}


nav #menu {
    float: left;
    left: 52%;
    position: absolute;
}

nav #menu li {
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
    line-height: 60px;
    position: relative;
    transition: all 0.5s ease-in;
    animation-name: initial;
}

nav #menu li a {
    color: #fff;
    font-family: "Poppins";
    font-weight: 200;
}

nav #menu li a:hover {
    background-color: rgba(219, 214, 214, 0.4);
    padding: 10px 20px;
    border-radius: 70px;
    transition: all 0.3s ease-in-out;
}

#toggle {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    float: right;
    transition: all 0.5s ease-out;
    visibility: hidden;
    opacity: 0;
}

#toggle .span {
    height: 3px;
    background: rgb(253, 253, 253);
    transition: all 0.5s ease-out;
    backface-visibility: hidden;
    margin: 5px auto;
}

#toggle.on #one {
    transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
    opacity: 0;
}

#toggle.on #three {
    transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
    z-index: 1;
    top: 8px;
    position: absolute;
    background: rgba(0, 0, 0, 1);
    width: 50%;
    margin-left: 50%;
    margin-top: 8vh; 
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
    display: table;
}

#resize #menu {
    display: table-cell;
    vertical-align: center;

}

#resize #menu li {
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    min-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#resize #menu li a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}

#resize li:nth-child(1) {
    margin-top: 80px;
}

#resize #menu li a {
    color: #fff;
}

#resize.active {
    visibility: visible;
    opacity: 0.99;
}

.btn {
    padding: 10px 30px;
    font-weight: 200;
    font-family: "Poppins";
    color: white;
    text-transform: uppercase;
    border-radius: 200px;
}

.button a:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.9s;
}


.b1 {
    position: absolute;
    left: 20%;
    bottom: 15%;
    transform: translate(-70%, -100%);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}


.b2 {
    position: absolute;
    left: 40%;
    bottom: 15%;
    transform: translate(-50%, -100%);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(251, 250, 252);
}


.b3 {
    position: absolute;
    left: 60%;
    bottom: 15%;
    transform: translate(-28%, -100%);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

.b4 {
    position: absolute;
    left: 80%;
    bottom: 15%;
    transform: translate(-28%, -100%);
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

.foot {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    height: 6vh;
    color: whitesmoke;
    float: right;
    bottom: 0;
    width: 100%;
}

.foot h3 {
    padding-top: 7px;
    float: right;
    font-family: "Poppins";
    margin-right: 20px;
    font-weight: 100;
    font-size: 16px;
}
@media only screen and (max-width: 944px) {
    nav #menu li {
        display: inline-block;
        padding: 0px 15px;
    }
}

@media only screen and (max-width: 768px) {
    #toggle {
        visibility: visible;
        opacity: 1;
        margin-top: 6px;
    }


    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.795), rgba(8, 0, 0, 0.849)), url(5.jpg);
        background-repeat: no-repeat 50% 50%;
        background-size: cover;
        background-attachment: fixed;
        display: table;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    nav{
        position: fixed;
        top: 0;
        width: 100%;
    }
    nav #logo {
        margin-left: 30px;
    }

    #menu a {
        font-family: "Poppins";
        font-weight: 200;
        font-size: 20px;
    }

    nav #menu {
        display: none;
    }

    .content h1 {
        color: rgb(255, 255, 255);
        font-family: "Poppins";
        font-weight: 200;
        font-size: 35px;
        position: absolute;
        left: 40%;
        transform: translate(-30%, -50%);
    }
    .b1 {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
    }
    
    
    .b2 {
        position: absolute;
        left: 50%;
        bottom: 12%;
        padding: 10px 17px;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(251, 250, 252);
        transition: all 0.3s ease;
    }
    
    
    .b3 {
        position: absolute;
        left: 50%;
        bottom: 4%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
    }
    .b4 {
        position: absolute;
        left: 50%;
        bottom: -4%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
    }
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #1a1717; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(31, 29, 29); 
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
    .foot {
        background: rgba(0, 0, 0, 0.999);
    }
}

@media only screen and (max-width: 565px) {
    .content h1 {
        color: rgb(255, 255, 255);
        font-family: "Poppins";
        font-weight: 200;
        font-size: 33px;
        position: absolute;
        top: 53%;
        left: 30%;
        transform: translate(-20%, -50%);
        transition: all 0.1s ease-in-out;
    }
    .b1 {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
    }
    
    
    .b2 {
        position: absolute;
        left: 50%;
        bottom: 11%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(251, 250, 252);
        transition: all 0.3s ease;
    }
    
    
    .b3 {
        position: absolute;
        left: 50%;
        bottom: 2%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
    }
    .b4 {
        position: absolute;
        left: 50%;
        bottom: -7%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
    }
    
}

@media only screen and (max-width:491px) {
    .content h1 {
        color: rgb(255, 255, 255);
        font-family: "Poppins";
        font-weight: 200;
        font-size: 27px;
        position: absolute;
        top: 54%;
        left: 30%;
        transform: translate(-15%, -50%);
    }
    

}

@media only screen and (max-width: 452px) {
    .content h1 {
        color: rgb(255, 255, 255);
        font-family: "Poppins";
        font-weight: 200;
        font-size: 25px;
        position: absolute;
        top: 53%;
        left: 40%;
        transform: translate(-30%, -50%);
    }
}

@media only screen and (max-width: 403px) {
    .content h1 {
        color: rgb(255, 255, 255);
        font-family: "Poppins";
        font-weight: 200;
        font-size: 20px;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 380px) {
    .content h1 {
        color: rgb(255, 255, 255);
        font-family: "Poppins";
        font-weight: 200;
        font-size: 18px;
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .b1 {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
        font-size: 13px;
    }
    
    
    .b2 {
        position: absolute;
        left: 50%;
        bottom: 11%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(251, 250, 252);
        transition: all 0.3s ease;
        padding: 10px 30px;
        font-size: 13px;
    }
    
    
    .b3 {
        position: absolute;
        left: 50%;
        bottom: 2%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
        padding: 10px 30px;
        font-size: 13px;
    }
    .b4 {
        position: absolute;
        left: 50%;
        bottom: -7%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
        font-size: 13px;
    }
}

@media only screen and (max-width: 264px) {
    .content h1 {
        color: rgb(255, 255, 255);
        font-family: "Poppins";
        font-weight: 200;
        font-size: 12px;
        position: absolute;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


@media only screen and (max-width: 320px) {
    .content h1 {
        color: rgb(255, 255, 255);
        font-family: "Poppins";
        font-weight: 200;
        font-size: 15px;
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .b1 {
        position: absolute;
        left: 50%;
        bottom: 20%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
        font-size: 13px;
    }
    
    
    .b2 {
        position: absolute;
        left: 50%;
        bottom: 11%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(251, 250, 252);
        transition: all 0.3s ease;
        padding: 10px 30px;
        font-size: 13px;
    }
    
    
    .b3 {
        position: absolute;
        left: 50%;
        bottom: 2%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
        padding: 10px 30px;
        font-size: 13px;
    }
    .b4 {
        position: absolute;
        left: 50%;
        bottom: -7%;
        transform: translate(-50%, -100%);
        background-color: transparent;
        color: rgb(255, 255, 255);
        border: 2px solid rgb(255, 255, 255);
        transition: all 0.3s ease;
        font-size: 13px;
    }
}

@media only screen and (max-width: 264px) {
    .content h1 {
        color: rgb(255, 255, 255);
        font-family: "Poppins";
        font-weight: 200;
        font-size: 12px;
        position: absolute;
        top: 54%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(min-width: 768px) {
    #resize {
        visibility: hidden !important;
    }
}
